p Hi #{name},
p Przesyłamy Tobie bilety, które znajdują się w załączonym pliku PDF

ul
    li Liczba biletów: #{amount}
    li Tytuł: #{title}
    li Data: #{date}
    li Lokalizacja: #{localization}
